@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

#root {
  /* height: 100vh; */
  width: 100vw;
  margin: 2rem;
  padding: 0.3rem;
  text-align: center;
  font-family: "Marcellus", sans-serif;
  border: 4px solid #2d2d2d;
}
