#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.dnd-frame {
  position: relative;
  padding: 2rem;
  border: 4px solid #2d2d2d;
  background: #f4f1ea; /* parchment tone */
  font-family: "Uncial Antiqua", serif;
}

.dnd-frame::before,
.dnd-frame::after {
  animation: logo-spin infinite 20s linear;
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("./assets/d20.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.dnd-frame::before {
  top: -24px;
  left: -24px;
}

.dnd-frame::after {
  bottom: -24px;
  right: -24px;
}
