.loading-indicator {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.loading-indicator .loading-icon {
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
