.inventory-section-wrapper {
  margin: var(--spacing-md) auto;
  max-width: 800px;
}

.inventory-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  border: var(--border-stroke-width-md) solid var(--color-primary);
  border-radius: var(--border-radius-md);
  background-color: var(--sections-background-color);
  justify-content: center;
}

.inventory-buttons {
  display: flex;
  gap: var(--spacing-lg);
  justify-content: space-around;
}

.inventory-icon {
  padding-top: 0.5rem;
}
