.loading-indicator {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  font-size: var(--font-size-md);
  justify-content: center;
}

.loading-indicator .loading-icon {
  animation: logo-spin infinite 2s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
