.btn {
  background: var(--button-background-color);
  border: var(--border-stroke-width-md) solid var(--color-primary);
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm) var(--spacing-lg);
  margin: var(--spacing-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  transition: var(--transition-fast);
  color: var(--color-primary);
}
.btn:hover {
  background: var(--modal-card-hover-background-color);
  transform: translateY(-2px);
}
