:root {
  --topDistance: 21px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dnd-frame {
  position: relative;
  padding: 2rem;
  border: 4px solid #2d2d2d;
  background: #f4f1ea; /* parchment tone */
}

@media (prefers-reduced-motion: no-preference) {
  .dnd-frame::before,
  .dnd-frame::after {
    animation: logo-spin infinite 20s linear;
    content: "";
    position: absolute;
    width: 64px;
    height: 64px;
    background-image: url("../../assets/d20.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.dnd-frame::before {
  top: calc(var(--topDistance) * -1);
  left: calc(var(--topDistance) * -1);
}

.dnd-frame::after {
  bottom: calc(var(--topDistance) * -1);
  right: calc(var(--topDistance) * -1);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.content > :first-child,
.content > :nth-child(2) {
  grid-column: 1 / -1;
}
