.searchbar-input-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  border: var(--border-stroke-width-md) solid var(--color-primary);
  border-radius: var(--border-radius-md);
  background-color: var(--sections-background-color);
  justify-content: space-between;
  padding: var(--spacing-sm) var(--spacing-md);
  margin-top: 1rem;
}

.searchbar-input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--spacing-xs);
  justify-content: flex-start;
}

.searchbar-input {
  border: var(--border-stroke-width-md) solid var(--color-primary);
  border-radius: var(--border-radius-md);
  background: transparent;
  font-size: inherit;
}
